@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: 'SpotifyMixUI','GeistVF', sans-serif;
}

#root {
  width: 800px;
  height: 480px;
  overflow: hidden;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.5);
  border-radius: 12px;
  position: relative;
}

@font-face{
  font-family: "SpotifyMixUI";
  src: url('/fonts/SpotifyMixUI.woff2') format('woff2');
}